openapi: 3.0.3
info:
  title: How2Prompt API — Phase 1 (MVP)
  version: 1.0.1
  description: |
    # How2Prompt API Contract — Phase 1 (MVP)

    Đây là hợp đồng API (contract) do Backend cung cấp cho Frontend để phát triển song song.

    ## Quy ước chung
    - **Base URL**: `/api/v1`
    - **Content-Type**: `application/json; charset=utf-8`
    - **Naming**:
      - JSON request/response: `camelCase`
      - URL: `kebab-case`
      - Database: `snake_case`
    - **Timestamps**: ISO 8601 UTC (ví dụ `2026-07-22T01:29:13Z`).
    - **IDs**: UUID v4 dạng string.
    - **i18n**: các trường có thể dịch trả về object `{ "en": "...", "vi": "..." }`.
      FE tự chọn ngôn ngữ theo `user.locale`, fallback về `en`.

    ## Response Wrapper chuẩn
    Tất cả endpoint trả dữ liệu (trừ các response `204 No Content`) đều được bọc trong `ApiResponse<T>`:
    ```json
    {
      "data": { },
      "meta": { }
    }
    ```
    - `data`: nội dung chính (object hoặc array).
    - `meta`: thông tin phụ trợ, ví dụ phân trang (`PageMeta`). Có thể `null` nếu không cần.

    Tương ứng Java:
    ```java
    public record ApiResponse<T>(
            T data,
            PageMeta meta
    )
    ```

    `PageMeta` (dựa trên `org.springframework.data.domain.Page`):
    ```java
    public record PageMeta(
            int page,
            int size,
            long totalElements,
            int totalPages,
            boolean hasNext,
            boolean hasPrevious
    )
    ```

    ## Authentication
    - Mọi endpoint (trừ nhóm `Auth` và các endpoint đánh dấu `security: []`) yêu cầu header:
      `Authorization: Bearer <accessToken>`
    - `accessToken` sống 15 phút. Khi hết hạn → BE trả `401` với code `TOKEN_EXPIRED`,
      FE gọi `POST /auth/refresh` để lấy token mới.
    - `refreshToken` được BE set trong **httpOnly cookie** (`refresh_token`, FE không đọc trực tiếp) và được **rotate** (cấp cookie mới) mỗi lần refresh thành công.

    ## Guest access (chưa đăng nhập)
    Một số endpoint cho phép Guest (không cần token):
    - `GET /templates`, `GET /templates/{id}`, taxonomy, `GET /ai-models`.
    - `POST /templates/{id}/generate` — Guest được phép nhưng **giới hạn 3 lần/ngày/IP**.
      FE phải gửi header `X-Guest-Fingerprint` (browser fingerprint) khi user chưa đăng nhập.

    ## Định dạng lỗi chung
    Mọi lỗi trả về body:
    ```json
    {
      "error": {
        "code": "STRING_CODE",
        "message": "Human readable message",
        "details": { "field": "reason" },
        "traceId": "uuid-for-support"
      }
    }
    ```

    Tương ứng Java:
    ```java
    /**
     * Envelope lỗi HTTP body.
     *
     * <pre>{@code
     * {
     *   "error": {
     *     "code": "NOT_FOUND",
     *     "message": "...",
     *     "details": {}
     *   }
     * }
     * }</pre>
     */
    public record ErrorResponse(ApiError error)
    ```

    ## Pagination
    - Dùng **offset-based** (Spring Data `Pageable`): query `?page=0&size=20` (`page` bắt đầu từ 0).
    - Response chứa `meta.page` kiểu `PageMeta` với `page`, `size`, `totalElements`, `totalPages`, `hasNext`, `hasPrevious`.

servers:
  - url: https://how2prompt.threddit.site/api/v1
    description: Production
  - url: https://staging-api.how2prompt.threddit.site/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Local dev

tags:
  - name: Auth
    description: Đăng ký, đăng nhập, quản lý phiên
  - name: Users
    description: Hồ sơ người dùng
  - name: Workspaces
    description: Không gian làm việc (Phase 1 chỉ personal)
  - name: AI Models
    description: Danh mục model AI
  - name: Taxonomy
    description: Category & Tag
  - name: Templates
    description: Duyệt, tìm kiếm, xem chi tiết template
  - name: Prompt Generation
    description: Sinh prompt từ template
  - name: History
    description: Lịch sử prompt đã sinh
  - name: Favorites
    description: Template yêu thích
  - name: Admin
    description: Quản trị (yêu cầu isAdmin=true)

# ==========================================================
# GLOBAL SECURITY
# ==========================================================
security:
  - bearerAuth: []

paths:
  # ========================================================
  # AUTH
  # ========================================================
  /auth/register:
    post:
      tags: [Auth]
      summary: Đăng ký tài khoản mới
      description: Tạo user + tự động tạo Personal Workspace. Gửi email xác minh. Không trả về accessToken (user phải đăng nhập hoặc verify email trước).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterResponse"
        "409":
          description: Email đã tồn tại
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                error:
                  {
                    code: EMAIL_ALREADY_EXISTS,
                    message: "Email đã được sử dụng",
                  }
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/login:
    post:
      tags: [Auth]
      summary: Đăng nhập bằng email + password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Đăng nhập thành công. refreshToken được set trong httpOnly cookie (`refresh_token`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "401":
          description: Sai email hoặc mật khẩu, hoặc email chưa được xác minh
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              examples:
                invalidCredentials:
                  summary: Sai email hoặc mật khẩu
                  value:
                    error:
                      {
                        code: INVALID_CREDENTIALS,
                        message: "Email hoặc mật khẩu không đúng",
                      }
                emailNotVerified:
                  summary: Email chưa được xác minh
                  value:
                    error:
                      {
                        code: EMAIL_NOT_VERIFIED,
                        message: "Vui lòng xác minh email trước khi đăng nhập",
                      }
        "403":
          description: Tài khoản bị khóa
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/oauth/google:
    post:
      tags: [Auth]
      summary: Đăng nhập / đăng ký bằng Google ID Token
      description: |
        Frontend lấy Google ID Token bằng Google Identity Services (GIS),
        sau đó gửi `idToken` về backend để xác thực.
        Backend verify token với Google, tạo user mới nếu chưa tồn tại (đồng thời tạo Personal Workspace),
        rồi trả về `AuthResponse` như flow login thông thường.
        Không có endpoint callback riêng (không dùng Authorization Code flow).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [idToken]
              properties:
                idToken:
                  type: string
                  description: Google ID Token lấy từ Google Identity Services phía FE
      responses:
        "200":
          description: Đăng nhập/đăng ký thành công. refreshToken được set trong httpOnly cookie.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "401":
          description: idToken không hợp lệ hoặc hết hạn
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "502":
          description: Google trả lỗi khi verify token

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Làm mới access token
      description: |
        Dùng refreshToken trong httpOnly cookie (`refresh_token`) để cấp accessToken mới.
        **Refresh Token Rotation**: mỗi lần gọi thành công, refreshToken cũ bị revoke và
        một refreshToken mới được set lại vào cookie.
      security: []
      responses:
        "200":
          description: Token mới
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "401":
          description: Refresh token không hợp lệ hoặc hết hạn

  /auth/logout:
    post:
      tags: [Auth]
      summary: Đăng xuất
      description: |
        Revoke refreshToken hiện tại và clear cookie bằng cách set:
        `Set-Cookie: refresh_token=""; Max-Age=0`
      responses:
        "204":
          description: Đăng xuất thành công

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Yêu cầu đặt lại mật khẩu
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "200":
          description: Luôn trả 200 dù email tồn tại hay không (chống enumeration)

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Đặt lại mật khẩu bằng token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token: { type: string }
                newPassword: { type: string, format: password }
      responses:
        "200":
          description: Đặt lại thành công
        "410":
          description: Token hết hạn hoặc đã dùng

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Xác minh email
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string }
      responses:
        "200":
          description: Xác minh thành công
        "410":
          description: Token hết hạn

  /auth/resend-verification:
    post:
      tags: [Auth]
      summary: Gửi lại email xác minh
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        "202":
          description: Yêu cầu đã được chấp nhận, email sẽ được gửi bất đồng bộ (Accepted)
        "429":
          $ref: "#/components/responses/RateLimited"

  # ========================================================
  # USERS
  # ========================================================
  /users/me:
    get:
      tags: [Users]
      summary: Lấy hồ sơ user hiện tại
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserProfile" }
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [Users]
      summary: Cập nhật hồ sơ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: Cập nhật thành công
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UserProfile" }
        "409":
          description: Username đã tồn tại

  /users/me/avatar:
    post:
      tags: [Users]
      summary: Upload avatar
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: Trả về URL avatar mới
          content:
            application/json:
              schema:
                type: object
                properties:
                  avatarUrl: { type: string, format: uri }
        "413":
          description: File quá lớn (>2MB)

  # ========================================================
  # WORKSPACES  (Phase 1: chỉ đọc personal workspace)
  # ========================================================
  /workspaces:
    get:
      tags: [Workspaces]
      summary: Danh sách workspace của user
      description: Phase 1 mỗi user chỉ có 1 personal workspace.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Workspace" }

  # ========================================================
  # AI MODELS
  # ========================================================
  /ai-models:
    get:
      tags: [AI Models]
      summary: Danh sách AI model đang hoạt động
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AiModel" }

  # ========================================================
  # TAXONOMY
  # ========================================================
  /categories:
    get:
      tags: [Taxonomy]
      summary: Danh sách category (hỗ trợ nested)
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Category" }

  /tags:
    get:
      tags: [Taxonomy]
      summary: Danh sách tag phổ biến
      security: []
      parameters:
        - name: q
          in: query
          description: Tìm tag theo tên (autocomplete)
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Tag" }

  # ========================================================
  # TEMPLATES
  # ========================================================
  /templates:
    get:
      tags: [Templates]
      summary: Duyệt / lọc / tìm kiếm template
      security: []
      parameters:
        - name: q
          in: query
          description: Full-text search (title, description). Hỗ trợ EN & VI.
          schema: { type: string }
        - name: category
          in: query
          description: Lọc theo category slug (nhiều giá trị, ngăn cách bởi dấu phẩy)
          schema: { type: string, example: "writing,marketing" }
        - name: tags
          in: query
          description: Lọc theo tag slug (ngăn cách bởi dấu phẩy)
          schema: { type: string, example: "email,formal" }
        - name: model
          in: query
          description: Lọc theo model code
          schema: { type: string, example: "claude-opus-4" }
        - name: sort
          in: query
          schema:
            type: string
            enum: [popular, newest, most_used, official]
            default: popular
        - name: page
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
        - name: size
          in: query
          schema: { type: integer, default: 20, maximum: 50 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/TemplateListItem" }
                  meta: { $ref: "#/components/schemas/PageMeta" }

  /templates/{id}:
    get:
      tags: [Templates]
      summary: Chi tiết template (kèm current version, variables, variants)
      security: []
      parameters:
        - $ref: "#/components/parameters/TemplateId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TemplateDetail" }
        "404":
          $ref: "#/components/responses/NotFound"
        "403":
          description: Template private của workspace khác

  /templates/featured:
    get:
      tags: [Templates]
      summary: Template nổi bật (do admin gắn)
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TemplateListItem" }

  /templates/trending:
    get:
      tags: [Templates]
      summary: Template trending
      security: []
      parameters:
        - name: window
          in: query
          schema: { type: string, enum: [24h, 7d, 30d], default: 7d }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TemplateListItem" }

  # ========================================================
  # PROMPT GENERATION
  # ========================================================
  /templates/{id}/generate:
    post:
      tags: [Prompt Generation]
      summary: Sinh prompt từ template (backend là source of truth)
      description: |
        Render prompt cuối cùng và lưu vào lịch sử.
        - Nếu user đã đăng nhập: dùng quota user, lưu vào DB.
        - Nếu là Guest (không có token): giới hạn 3 lần/ngày/IP,
          FE phải gửi header `X-Guest-Fingerprint`. Kết quả KHÔNG lưu server-side.
      security:
        - bearerAuth: []
        - {} # cho phép guest (không auth)
      parameters:
        - $ref: "#/components/parameters/TemplateId"
        - name: X-Guest-Fingerprint
          in: header
          required: false
          description: Browser fingerprint (bắt buộc khi Guest)
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerateRequest" }
      responses:
        "200":
          description: Prompt được sinh thành công
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerateResponse" }
        "422":
          $ref: "#/components/responses/ValidationError"
        "429":
          description: Guest vượt quota 3 lần/ngày
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
              example:
                error:
                  code: GUEST_QUOTA_EXCEEDED
                  message: "Bạn đã dùng hết lượt miễn phí hôm nay. Đăng ký để nhận 50 lượt/ngày!"

  # ========================================================
  # HISTORY
  # ========================================================
  /generated-prompts:
    get:
      tags: [History]
      summary: Lịch sử prompt của user
      parameters:
        - name: templateId
          in: query
          schema: { type: string, format: uuid }
        - name: model
          in: query
          schema: { type: string }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
        - name: page
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
        - name: size
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      { $ref: "#/components/schemas/GeneratedPromptListItem" }
                  meta: { $ref: "#/components/schemas/PageMeta" }

  /generated-prompts/{id}:
    get:
      tags: [History]
      summary: Chi tiết một prompt đã sinh
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GeneratedPromptDetail" }
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [History]
      summary: Xóa (soft-delete) một prompt trong lịch sử
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Đã xóa

  # ========================================================
  # FAVORITES
  # ========================================================
  /templates/{id}/favorite:
    post:
      tags: [Favorites]
      summary: Đánh dấu yêu thích template
      parameters:
        - $ref: "#/components/parameters/TemplateId"
      responses:
        "204":
          description: Đã favorite
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      tags: [Favorites]
      summary: Bỏ yêu thích
      parameters:
        - $ref: "#/components/parameters/TemplateId"
      responses:
        "204":
          description: Đã bỏ favorite

  /favorites:
    get:
      tags: [Favorites]
      summary: Danh sách template đã yêu thích
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
        - name: size
          in: query
          schema: { type: integer, default: 20 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/TemplateListItem" }
                  meta: { $ref: "#/components/schemas/PageMeta" }

  # ========================================================
  # ADMIN
  # ========================================================
  /admin/ai-models:
    get:
      tags: [Admin]
      summary: (Admin) Liệt kê tất cả model (kể cả inactive)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AiModel" }
    post:
      tags: [Admin]
      summary: (Admin) Tạo AI model mới
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AiModelUpsert" }
      responses:
        "201":
          description: Đã tạo

  /admin/ai-models/{id}:
    patch:
      tags: [Admin]
      summary: (Admin) Cập nhật model
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AiModelUpsert" }
      responses:
        "200":
          description: Đã cập nhật

  /admin/categories:
    post:
      tags: [Admin]
      summary: (Admin) Tạo category
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CategoryUpsert" }
      responses:
        "201":
          description: Đã tạo

  /admin/categories/{id}:
    patch:
      tags: [Admin]
      summary: (Admin) Cập nhật category
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CategoryUpsert" }
      responses:
        "200":
          description: Đã cập nhật

  /admin/templates:
    post:
      tags: [Admin]
      summary: (Admin) Tạo template chính chủ
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TemplateUpsert" }
      responses:
        "201":
          description: Đã tạo (status=draft)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TemplateDetail" }

  /admin/templates/{id}:
    patch:
      tags: [Admin]
      summary: (Admin) Cập nhật template (tạo version mới nếu thay đổi prompt/variables)
      parameters:
        - $ref: "#/components/parameters/TemplateId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TemplateUpsert" }
      responses:
        "200":
          description: Đã cập nhật
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TemplateDetail" }

  /admin/templates/{id}/publish:
    post:
      tags: [Admin]
      summary: (Admin) Publish template
      parameters:
        - $ref: "#/components/parameters/TemplateId"
      responses:
        "200":
          description: Template đã publish
        "422":
          description: Có placeholder trong promptBody chưa khai báo variable

  /admin/dashboard/stats:
    get:
      tags: [Admin]
      summary: (Admin) Thống kê tổng quan
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DashboardStats" }

# ==========================================================
# COMPONENTS
# ==========================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    TemplateId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    Unauthorized:
      description: Chưa xác thực hoặc token hết hạn
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error: { code: TOKEN_EXPIRED, message: "Access token đã hết hạn" }
    NotFound:
      description: Không tìm thấy tài nguyên
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error: { code: NOT_FOUND, message: "Không tìm thấy" }
    ValidationError:
      description: Dữ liệu không hợp lệ
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            error:
              code: VALIDATION_ERROR
              message: "Dữ liệu không hợp lệ"
              details: { email: "Định dạng email không đúng" }
    RateLimited:
      description: Vượt giới hạn tần suất
      headers:
        Retry-After:
          schema: { type: integer }
          description: Số giây chờ trước khi thử lại
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

  schemas:
    # ---------- Common ----------
    I18nString:
      type: object
      description: Chuỗi đa ngôn ngữ
      properties:
        en: { type: string }
        vi: { type: string }
      example: { en: "Writing", vi: "Viết lách" }

    PageMeta:
      type: object
      description: Metadata phân trang, tương ứng org.springframework.data.domain.Page (offset-based).
      properties:
        page: { type: integer, description: "Số trang hiện tại, bắt đầu từ 0" }
        size: { type: integer, description: "Số phần tử mỗi trang" }
        totalElements: { type: integer, format: int64 }
        totalPages: { type: integer }
        hasNext: { type: boolean }
        hasPrevious: { type: boolean }

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details:
              type: object
              additionalProperties: { type: string }
            traceId: { type: string, format: uuid }

    # ---------- Auth ----------
    RegisterRequest:
      type: object
      required: [email, password, fullName]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password, minLength: 8 }
        fullName: { type: string, maxLength: 150 }
        locale: { type: string, enum: [en, vi], default: en }
      example:
        email: "viet@example.com"
        password: "SecurePass123"
        fullName: "Viet Nguyen"
        locale: "vi"

    RegisterResponse:
      type: object
      description: Không chứa accessToken — user cần đăng nhập (hoặc verify email) sau khi đăng ký.
      properties:
        user: { $ref: "#/components/schemas/UserProfile" }
        message:
          {
            type: string,
            example: "Đăng ký thành công. Vui lòng kiểm tra email để xác minh tài khoản.",
          }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }

    AuthResponse:
      type: object
      description: Không bao gồm tokenType hay user — chỉ trả accessToken và thời hạn sống của nó.
      properties:
        accessToken: { type: string }
        expiresIn:
          {
            type: integer,
            example: 900,
            description: "Thời gian sống accessToken (giây)",
          }

    # ---------- User ----------
    UserProfile:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        fullName: { type: string }
        username: { type: string, nullable: true }
        avatarUrl: { type: string, format: uri, nullable: true }
        bio: { type: string, nullable: true }
        locale: { type: string, enum: [en, vi] }
        timezone: { type: string }
        plan: { type: string, enum: [free, pro, team] }
        isAdmin: { type: boolean }
        emailVerified: { type: boolean }
        personalWorkspaceId: { type: string, format: uuid }
        createdAt: { type: string, format: date-time }

    UpdateProfileRequest:
      type: object
      properties:
        fullName: { type: string, maxLength: 150 }
        username: { type: string, maxLength: 50 }
        bio: { type: string }
        locale: { type: string, enum: [en, vi] }
        timezone: { type: string }

    # ---------- Workspace ----------
    Workspace:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        type: { type: string, enum: [personal, team] }
        plan: { type: string }
        avatarUrl: { type: string, nullable: true }
        role:
          {
            type: string,
            enum: [owner, admin, editor, viewer],
            description: "Role của user hiện tại trong workspace",
          }

    # ---------- AI Model ----------
    AiModel:
      type: object
      properties:
        id: { type: string, format: uuid }
        code: { type: string, example: "claude-opus-4" }
        name: { type: string, example: "Claude Opus 4" }
        provider: { type: string, example: "anthropic" }
        modelType:
          { type: string, enum: [text, image, video, audio, multimodal] }
        description: { type: string, nullable: true }
        capabilities:
          type: object
          additionalProperties: true
          example: { vision: true, contextWindow: 200000 }
        iconUrl: { type: string, nullable: true }
        isActive: { type: boolean }
        sortOrder: { type: integer }

    AiModelUpsert:
      type: object
      required: [code, name, provider, modelType]
      properties:
        code: { type: string }
        name: { type: string }
        provider: { type: string }
        modelType:
          { type: string, enum: [text, image, video, audio, multimodal] }
        description: { type: string }
        capabilities: { type: object, additionalProperties: true }
        defaultConfig: { type: object, additionalProperties: true }
        iconUrl: { type: string }
        isActive: { type: boolean, default: true }
        sortOrder: { type: integer, default: 0 }

    # ---------- Taxonomy ----------
    Category:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { $ref: "#/components/schemas/I18nString" }
        description: { $ref: "#/components/schemas/I18nString" }
        icon: { type: string, nullable: true }
        color: { type: string, nullable: true }
        parentId: { type: string, format: uuid, nullable: true }
        sortOrder: { type: integer }
        templateCount:
          { type: integer, description: "Số template thuộc category này" }

    CategoryUpsert:
      type: object
      required: [slug, name]
      properties:
        slug: { type: string }
        name: { $ref: "#/components/schemas/I18nString" }
        description: { $ref: "#/components/schemas/I18nString" }
        icon: { type: string }
        color: { type: string }
        parentId: { type: string, format: uuid, nullable: true }
        sortOrder: { type: integer, default: 0 }

    Tag:
      type: object
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        name: { type: string }
        usageCount: { type: integer }

    # ---------- Template ----------
    TemplateListItem:
      type: object
      description: Thông tin rút gọn của template (dùng trong list)
      properties:
        id: { type: string, format: uuid }
        slug: { type: string }
        title: { $ref: "#/components/schemas/I18nString" }
        description: { $ref: "#/components/schemas/I18nString" }
        coverImage: { type: string, nullable: true }
        isOfficial: { type: boolean }
        author:
          $ref: "#/components/schemas/AuthorBrief"
        categories:
          type: array
          items: { $ref: "#/components/schemas/Category" }
        supportedModels:
          type: array
          items: { type: string, description: "model code" }
          example: ["gpt-4o", "claude-opus-4"]
        usageCount: { type: integer }
        favoriteCount: { type: integer }
        isFavorited:
          { type: boolean, description: "true nếu user hiện tại đã favorite" }
        createdAt: { type: string, format: date-time }

    TemplateDetail:
      allOf:
        - $ref: "#/components/schemas/TemplateListItem"
        - type: object
          properties:
            tags:
              type: array
              items: { $ref: "#/components/schemas/Tag" }
            currentVersion:
              $ref: "#/components/schemas/TemplateVersion"
            viewCount: { type: integer }

    TemplateVersion:
      type: object
      properties:
        id: { type: string, format: uuid }
        versionNumber: { type: integer }
        promptBody: { type: string, description: "Chứa placeholder {{varKey}}" }
        systemPrompt: { type: string, nullable: true }
        exampleOutput: { type: string, nullable: true }
        guide: { $ref: "#/components/schemas/I18nString" }
        variables:
          type: array
          items: { $ref: "#/components/schemas/TemplateVariable" }
        variants:
          type: array
          description: "Biến thể prompt cho từng model (nếu có)"
          items: { $ref: "#/components/schemas/TemplateVariant" }

    TemplateVariable:
      type: object
      properties:
        id: { type: string, format: uuid }
        varKey: { type: string, example: "tone" }
        label: { $ref: "#/components/schemas/I18nString" }
        description: { $ref: "#/components/schemas/I18nString" }
        placeholder: { $ref: "#/components/schemas/I18nString" }
        helpText: { $ref: "#/components/schemas/I18nString" }
        inputType:
          type: string
          enum:
            [
              text,
              textarea,
              select,
              multiselect,
              number,
              boolean,
              date,
              file,
              url,
              color,
              slider,
            ]
        isRequired: { type: boolean }
        defaultValue: { type: string, nullable: true }
        options:
          type: array
          description: "Cho select/multiselect"
          items:
            type: object
            properties:
              value: { type: string }
              label: { $ref: "#/components/schemas/I18nString" }
        validation:
          type: object
          additionalProperties: true
          example: { min: 1, max: 500, regex: "^[a-z]+$" }
        sortOrder: { type: integer }

    TemplateVariant:
      type: object
      properties:
        aiModelCode: { type: string }
        promptBodyOverride: { type: string, nullable: true }
        systemPromptOverride: { type: string, nullable: true }
        modelConfig: { type: object, additionalProperties: true }

    AuthorBrief:
      type: object
      properties:
        id: { type: string, format: uuid, nullable: true }
        fullName: { type: string, nullable: true }
        username: { type: string, nullable: true }
        avatarUrl: { type: string, nullable: true }
        type: { type: string, enum: [admin, user, system, forked] }

    TemplateUpsert:
      type: object
      required: [title, promptBody]
      properties:
        title: { $ref: "#/components/schemas/I18nString" }
        description: { $ref: "#/components/schemas/I18nString" }
        coverImage: { type: string }
        categoryIds:
          type: array
          items: { type: string, format: uuid }
        tagSlugs:
          type: array
          items: { type: string }
        modelCodes:
          type: array
          items: { type: string }
        promptBody: { type: string }
        systemPrompt: { type: string }
        exampleOutput: { type: string }
        guide: { $ref: "#/components/schemas/I18nString" }
        variables:
          type: array
          items:
            type: object
            required: [varKey, inputType, label]
            properties:
              varKey: { type: string }
              label: { $ref: "#/components/schemas/I18nString" }
              description: { $ref: "#/components/schemas/I18nString" }
              placeholder: { $ref: "#/components/schemas/I18nString" }
              inputType: { type: string }
              isRequired: { type: boolean }
              defaultValue: { type: string }
              options: { type: array, items: { type: object } }
              validation: { type: object }
              sortOrder: { type: integer }
        changelog:
          { type: string, description: "Ghi chú thay đổi khi tạo version mới" }

    # ---------- Generate ----------
    GenerateRequest:
      type: object
      required: [aiModelCode, inputValues]
      properties:
        templateVersionId:
          type: string
          format: uuid
          description: "Nếu bỏ trống → dùng currentVersion của template"
        aiModelCode: { type: string, example: "claude-opus-4" }
        inputValues:
          type: object
          description: "Map varKey → giá trị người dùng nhập"
          additionalProperties: true
          example: { tone: "formal", topic: "AI ethics", audience: "students" }
        extraInstructions:
          type: string
          nullable: true
          description: "Hướng dẫn bổ sung tự do, nối vào cuối prompt"
        title:
          type: string
          nullable: true
          description: "Nhãn tùy chọn để user tự đặt tên cho prompt"

    GenerateResponse:
      type: object
      properties:
        generatedPromptId:
          type: string
          format: uuid
          nullable: true
          description: "null nếu là Guest (không lưu server)"
        finalPrompt: { type: string }
        tokensEstimate: { type: integer }
        aiModelCode: { type: string }
        remainingQuota:
          type: integer
          nullable: true
          description: "Số lượt còn lại trong ngày (Guest hoặc Free plan)"

    # ---------- History ----------
    GeneratedPromptListItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        title: { type: string, nullable: true }
        templateId: { type: string, format: uuid, nullable: true }
        templateTitle: { $ref: "#/components/schemas/I18nString" }
        aiModelCode: { type: string }
        promptSnippet:
          { type: string, description: "150 ký tự đầu của finalPrompt" }
        createdAt: { type: string, format: date-time }

    GeneratedPromptDetail:
      allOf:
        - $ref: "#/components/schemas/GeneratedPromptListItem"
        - type: object
          properties:
            templateVersionId: { type: string, format: uuid, nullable: true }
            inputValues: { type: object, additionalProperties: true }
            extraInstructions: { type: string, nullable: true }
            finalPrompt: { type: string }

    # ---------- Admin dashboard ----------
    DashboardStats:
      type: object
      properties:
        totalUsers: { type: integer }
        dau: { type: integer, description: "Daily active users" }
        wau: { type: integer }
        mau: { type: integer }
        totalTemplates: { type: integer }
        totalPromptsGenerated: { type: integer }
        promptsToday: { type: integer }
        topTemplates:
          type: array
          items:
            type: object
            properties:
              templateId: { type: string, format: uuid }
              title: { $ref: "#/components/schemas/I18nString" }
              usageCount: { type: integer }
        topModels:
          type: array
          items:
            type: object
            properties:
              modelCode: { type: string }
              usageCount: { type: integer }
